<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @actor.name %>
</p>

<p>
  <strong>year of birth:</strong>
  <%= @actor.year_of_birth %>
</p>
<p>
  <strong>thumbnail:</strong>
  <%= @actor.thumbnail %>
</p>


<%= link_to 'Back', actors_path %>
